In [1]:
import pandas as pd
sites = pd.read_excel('sites_info.xlsx')
visitors = pd.read_excel('visitors_with_holidays.xlsx')

check if which site do not appear in both tables

In [207]:
a = sites.site_name.unique()
b = visitors.Site_Name.unique()
for x in b:
    if x not in a:
        print(x)

In [208]:
visitors.drop(visitors[visitors.Site_Name == 'Afek'].index, inplace=True)
visitors.drop(visitors[visitors.Site_Name == 'Tel Dor'].index, inplace=True)

In [ ]:
sites.drop('Unnamed: 0', axis=1,inplace=True)
visitors.drop('Unnamed: 0', axis=1,inplace=True)
visitors.drop('Unnamed: 0.1', axis=1,inplace=True)

In [3]:
sites.head()
visitors.head()

,Date,Site_Name,Israelis_Count,Tourists_Count,Total,is_weekend,operations,is_jewish_holiday,is_jewish_vacation,is_muslims_holiday,is_muslims_vacation
0,2016-01-01,Tel Hazor,4,34,38,1,0,0,0,0,0
1,2016-01-01,Yehiam,3,0,3,1,0,0,0,0,0
2,2016-01-01,Hermon Stream (Banias),71,254,325,1,0,0,0,0,0
3,2016-01-01,Tel Dan,7,134,141,1,0,0,0,0,0
4,2016-01-01,Ayun Stream,6,0,6,1,0,0,0,0,0

converting categorical columns into numeric

In [19]:
religions = sites['religion'].str.join('').str.get_dummies(sep=', ')
religions.drop('לא רלוונטי', inplace=True,axis=1)

In [20]:
religions

    יהודים  מוסלמים  נבטים  נוצרים  שומרונים
0        1        0      0       0         0
1        0        0      0       1         0
2        0        0      0       1         0
3        0        0      0       0         0
4        0        0      0       0         0
..     ...      ...    ...     ...       ...
57       0        0      0       0         0
58       0        0      0       0         0
59       0        0      0       0         0
60       0        0      0       0         0
61       1        0      0       0         0

[62 rows x 5 columns]

converting the duration column into an ordinal column

In [189]:
sites.visit_duration.unique()

array(['קצר', 'ארוך', 'בינוני', 'בינוני-ארוך', 'קצר-בינוני'], dtype=object)

In [4]:
sites.replace({'קצר':1, 'קצר-בינוני':2, 'בינוני':3, 'בינוני-ארוך':4, 'ארוך':5},inplace=True)
sites.head()

,region,site_name,park_or_reserve,site_type,religion,water_resources,camping,special_activity,visit_duration
0,Central,Castel National site,אחר,מורשת,יהודים,0,0,1,1
1,Central,Apollonia,גן לאומי,"תצפית, ארכיאולוגיה",נוצרים,0,0,0,1
2,Central,Ashkelon National Park,גן לאומי,"מים, ארכיאולוגיה",נוצרים,1,1,1,5
3,Central,Bet Guvrin,גן לאומי,מערה,לא רלוונטי,0,0,1,3
4,Central,Palmahim Beach,גן לאומי,מים,לא רלוונטי,1,0,0,5

In [5]:
sites.site_type.unique()

array(['מורשת', 'תצפית, ארכיאולוגיה', 'מים, ארכיאולוגיה', 'מערה', 'מים',
       'דת', 'ארכיאולוגיה', 'חיות', 'חיות, ארכיאולוגיה', 'לא רלוונטי'],
      dtype=object)

create dummy variables for site_type and park_or_reserve

In [6]:
site_type = sites['site_type'].str.get_dummies(sep=', ')
park_reserve = sites['park_or_reserve'].str.join('').str.get_dummies(sep=', ')

In [7]:
site_type

    ארכיאולוגיה  דת  חיות  לא רלוונטי  מורשת  מים  מערה  תצפית
0             0   0     0           0      1    0     0      0
1             1   0     0           0      0    0     0      1
2             1   0     0           0      0    1     0      0
3             0   0     0           0      0    0     1      0
4             0   0     0           0      0    1     0      0
..          ...  ..   ...         ...    ...  ...   ...    ...
57            0   0     0           1      0    0     0      0
58            0   0     0           0      1    0     0      0
59            0   0     0           0      0    1     0      0
60            0   0     1           0      0    0     0      0
61            1   0     0           0      0    1     0      0

[62 rows x 8 columns]

In [10]:
water = list(site_type['מים'])

In [11]:
water_resource = list(sites.water_resources)

In [15]:
for i in range(62):
    if water[i] !=water_resource[i]:
        print(i)

42
53

if a row has all zeros in it, we can deduct that it's not the others

In [16]:
park_reserve.drop('אחר', inplace=True, axis=1)

In [17]:
site_type.drop('לא רלוונטי', axis=1,inplace=True)

In [21]:
religions

    יהודים  מוסלמים  נבטים  נוצרים  שומרונים
0        1        0      0       0         0
1        0        0      0       1         0
2        0        0      0       1         0
3        0        0      0       0         0
4        0        0      0       0         0
..     ...      ...    ...     ...       ...
57       0        0      0       0         0
58       0        0      0       0         0
59       0        0      0       0         0
60       0        0      0       0         0
61       1        0      0       0         0

[62 rows x 5 columns]

In [22]:
sites =pd.concat([sites,religions,park_reserve,site_type],axis=1)
sites.head(8)

,region,site_name,park_or_reserve,site_type,religion,water_resources,camping,special_activity,visit_duration,יהודים,...,שומרונים,גן לאומי,שמורת טבע,ארכיאולוגיה,דת,חיות,מורשת,מים,מערה,תצפית
0,Central,Castel National site,אחר,מורשת,יהודים,0,0,1,1,1,...,0,0,0,0,0,0,1,0,0,0
1,Central,Apollonia,גן לאומי,"תצפית, ארכיאולוגיה",נוצרים,0,0,0,1,0,...,0,1,0,1,0,0,0,0,0,1
2,Central,Ashkelon National Park,גן לאומי,"מים, ארכיאולוגיה",נוצרים,1,1,1,5,0,...,0,1,0,1,0,0,0,1,0,0
3,Central,Bet Guvrin,גן לאומי,מערה,לא רלוונטי,0,0,1,3,0,...,0,1,0,0,0,0,0,0,1,0
4,Central,Palmahim Beach,גן לאומי,מים,לא רלוונטי,1,0,0,5,0,...,0,1,0,0,0,0,0,1,0,0
5,Central,Alexander Stream-Bet Yannai,גן לאומי,מים,לא רלוונטי,1,0,0,3,0,...,0,1,0,0,0,0,0,1,0,0
6,Central,En Hemed,גן לאומי,מים,לא רלוונטי,1,1,0,3,0,...,0,1,0,0,0,0,0,1,0,0
7,Central,Stalactite Cave,שמורת טבע,מערה,לא רלוונטי,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0

In [222]:
sites.drop(['religion','site_type','park_or_reserve'],axis=1, inplace=True)

In [223]:
sites.head(10)

,region,site_name,water_resources,camping,special_activity,visit_duration,יהודים,מוסלמים,נבטים,נוצרים,שומרונים,גן לאומי,שמורת טבע,ארכיאולוגיה,דת,חיות,מורשת,מים,מערה,תצפית
0,Central,Castel National site,0,0,1,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0
1,Central,Apollonia,0,0,0,1,0,0,0,1,0,1,0,1,0,0,0,0,0,1
2,Central,Ashkelon National Park,1,1,1,5,0,0,0,1,0,1,0,1,0,0,0,1,0,0
3,Central,Bet Guvrin,0,0,1,3,0,0,0,0,0,1,0,0,0,0,0,0,1,0
4,Central,Palmahim Beach,1,0,0,5,0,0,0,0,0,1,0,0,0,0,0,1,0,0
5,Central,Alexander Stream-Bet Yannai,1,0,0,3,0,0,0,0,0,1,0,0,0,0,0,1,0,0
6,Central,En Hemed,1,1,0,3,0,0,0,0,0,1,0,0,0,0,0,1,0,0
7,Central,Stalactite Cave,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0
8,Judea and Samaria,Baptismal Site Qasr al-Yahud,0,0,0,1,1,0,0,1,0,0,0,0,1,0,0,0,0,0
9,Judea and Samaria,Mount Gerizim,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0

In [23]:
for index, row in sites.iterrows():
  if row["water_resources"]!= row["מים"]:
    print(row["water_resources"])
    print(row["מים"])
    print(index)

0
1
42
0
1
53

In [224]:
sites.columns

Index(['region', 'site_name', 'water_resources', 'camping', 'special_activity',
       'visit_duration', 'יהודים', 'מוסלמים', 'נבטים', 'נוצרים', 'שומרונים',
       'גן לאומי', 'שמורת טבע', 'ארכיאולוגיה', 'דת', 'חיות', 'מורשת', 'מים',
       'מערה', 'תצפית'],
      dtype='object')

In [226]:
sites.rename(columns={'שומרונים':'samaritans', 'נוצרים':'christians','נבטים':'nevatim','מוסלמים':'muslims',
'יהודים':'jewish','שמורת טבע':'nature reserve','מוזיאון':'museum','גן לאומי':'national park','אתר לאומי':'national site',
'אתר ארכיאולוגי':'archaeological site','תצפית':'lookout','מערה':'cave','מים':'water','מורשת':'heritage','חיות':'animals',
'דת':'religion','ארכיאולוגיה':'archaeology'},inplace=True)

In [227]:
sites.columns

Index(['region', 'site_name', 'water_resources', 'camping', 'special_activity',
       'visit_duration', 'jewish', 'muslims', 'nevatim', 'christians',
       'samaritans', 'national park', 'nature reserve', 'archaeology',
       'religion', 'animals', 'heritage', 'water', 'cave', 'lookout'],
      dtype='object')

נוריד את עמודת השומרונים והנבטים- יש סה"כ 2 אתרים שמתייחסים אליהם

In [230]:
sites.drop(['nevatim','samaritans'], inplace=True, axis = 1)

In [231]:
sites.head()

,region,site_name,water_resources,camping,special_activity,visit_duration,jewish,muslims,christians,national park,nature reserve,archaeology,religion,animals,heritage,water,cave,lookout
0,Central,Castel National site,0,0,1,1,1,0,0,0,0,0,0,0,1,0,0,0
1,Central,Apollonia,0,0,0,1,0,0,1,1,0,1,0,0,0,0,0,1
2,Central,Ashkelon National Park,1,1,1,5,0,0,1,1,0,1,0,0,0,1,0,0
3,Central,Bet Guvrin,0,0,1,3,0,0,0,1,0,0,0,0,0,0,1,0
4,Central,Palmahim Beach,1,0,0,5,0,0,0,1,0,0,0,0,0,1,0,0

In [233]:
sites.to_excel('sites_info_with_dummies.xlsx')