In [87]:
import pandas as pd
df = pd.read_excel("tmp.xlsx")

df.head(50)

,Date,אבני איתן,איילת השחר,אילון,אילת,איתמר,אפק,אריאל מכללה,אשדוד,אשחר,...,ראש הנקרה,ראש צורים,שבי ציון,שדה אליהו,שדה בוקר,שני,שערי תקוה,תבור כדורי,תל יוסף,תל-אביב יפו
0,01-01-2016,8.7,11.2,10.1,19.1,7.2,14.1,8.4,16.6,9.3,...,14.9,6.2,14.4,14.9,10.7,8.3,11.7,11.4,13.1,15.9
1,02-01-2016,7.8,10.5,9.9,16.6,5.9,12.3,7.1,15.4,8.6,...,11.8,3.7,13.2,12.1,9.0,5.1,11.2,10.6,11.2,14.7
2,03-01-2016,9.2,9.2,12.5,21.8,7.9,14.0,8.9,16.8,8.4,...,13.8,7.4,13.7,14.2,15.5,10.3,12.4,10.9,14.1,16.7
3,04-01-2016,13.7,14.3,14.9,22.2,11.9,16.3,12.8,17.8,11.6,...,16.3,11.1,15.9,17.0,16.1,13.8,16.5,15.4,16.6,18.2
4,05-01-2016,16.1,17.5,17.6,23.9,13.8,19.5,14.8,19.2,15.7,...,19.2,11.8,20.2,20.3,18.1,15.1,18.1,18.5,19.8,19.9
5,06-01-2016,18.1,19.2,21,25.5,16.9,21.6,17.7,20.0,19.1,...,21.1,14.8,21.3,21.5,20.8,17.8,21.0,21.4,20.9,20.7
6,07-01-2016,18.6,19.3,19.8,24.5,15.9,19.2,19.7,20.8,15.9,...,20.9,17.6,19.6,19.2,21.2,19.2,21.4,18.7,17.5,21.4
7,08-01-2016,14.7,16.4,17.8,23.1,14.0,19.2,15.4,20.6,15.8,...,19.6,13.3,19.3,19.6,16.5,14.3,18.2,17.4,18.4,20.7
8,09-01-2016,15.7,17.7,15.8,24.1,12.1,18.5,13.2,18.4,15.5,...,18.1,10.4,18.6,20.5,15.8,13.2,17.5,17.7,19.1,19.0
9,10-01-2016,14.5,17.4,18.7,22.7,12.8,18.7,15.3,18.9,15.6,...,18.6,11.8,19.1,20.1,17.1,13.7,19.8,18.0,18.1,19.3
10,11-01-2016,16.4,17.8,18,22.1,15.8,18.1,18.7,18.0,15.7,...,18.6,14.0,18.5,18.5,17.7,17.0,18.0,16.9,17.1,18.9
11,12-01-2016,17.9,19.6,19.2,21.7,14.9,20.3,17.3,19.0,18.8,...,18.7,14.3,19.0,22.2,18.4,17.4,20.1,20.2,20.6,19.9
12,13-01-2016,20.5,21.6,20.9,24.8,17.1,21.8,21.2,19.1,19.0,...,20.0,17.5,21.9,22.2,20.4,20.5,21.1,22.2,20.2,20.0
13,14-01-2016,14.9,14.6,16.4,24.1,14.7,18.5,14.9,18.8,15.4,...,18.4,12.4,18.9,18.8,18.0,15.9,17.2,16.5,18.9,19.0
14,15-01-2016,16.4,17.9,18.7,23.5,13.5,18.7,15.2,18.8,17.1,...,19.0,12.8,19.3,22.1,16.6,15.9,18.9,19.5,20.9,20.8
15,16-01-2016,20.3,21.1,21.3,24.3,15.7,21.5,17.3,18.6,18.3,...,19.9,14.3,21.9,23.6,19.1,17.9,22.9,21.3,21.9,20.7
16,17-01-2016,21.2,23.0,22.9,24.9,17.5,22.3,20.1,20.4,19.1,...,23.9,17.7,23.4,23.4,21.1,19.9,23.0,22.3,21.5,21.0
17,18-01-2016,15.1,16.2,18.3,22.1,14.9,16.6,16.5,19.5,16.1,...,18.4,14.6,17.5,18.5,15.3,14.9,19.4,15.5,17.1,18.2
18,19-01-2016,10.4,13.0,12.4,19.6,7.0,15.6,8.3,16.0,11.3,...,16.1,5.9,15.6,15.6,13.7,9.4,12.7,13.2,14.7,15.8
19,20-01-2016,11.8,13.2,13.5,21.8,9.7,15.1,11.6,16.4,12.2,...,15.4,9.3,15.9,17.6,16.1,14.2,15.1,13.2,15.9,18.1
20,21-01-2016,17.0,18.2,18.2,19.7,13.5,18.5,15.4,17.2,15.6,...,20.0,12.6,19.3,19.9,17.1,16.3,18.2,18.7,18.4,18.1
21,22-01-2016,17.3,17.6,17,20.9,13.1,18.8,15.6,17.8,16.4,...,17.3,12.1,18.9,19.4,16.1,15.4,17.6,18.5,19.2,18.8
22,23-01-2016,13.8,14.5,16,20.7,10.5,17.5,11.7,17.1,14.0,...,17.1,7.7,18.1,15.8,13.2,9.5,14.5,16.2,15.4,16.6
23,24-01-2016,9.9,12.6,11.6,18.0,6.1,14.4,7.4,15.9,10.4,...,15.3,4.9,14.6,15.1,11.2,7.4,12.0,12.6,14.4,15.6
24,25-01-2016,7.8,10.2,8.8,17.0,3.6,11.9,4.6,13.9,7.9,...,12.3,2.4,11.9,12.3,9.9,3.6,9.2,10.3,11.6,13.7
25,26-01-2016,6.4,9.3,6.9,16.8,4.0,9.8,3.8,12.1,6.3,...,10.4,1.3,9.8,10.1,9.3,2.8,8.3,7.8,9.1,10.1
26,27-01-2016,9.4,11.2,10.7,13.9,6.2,12.3,8.9,11.9,10.2,...,12.1,3.6,13.2,13.5,9.0,6.4,12.8,12.2,12.5,13.2
27,28-01-2016,9.4,11.3,11,15.5,6.2,12.5,9.2,12.8,10.0,...,12.6,5.5,13.4,12.6,10.2,9.0,12.1,12.1,11.5,12.3
28,29-01-2016,13.0,14.4,15.2,18.2,9.0,15.7,9.8,13.8,13.0,...,15.4,5.4,15.8,15.9,11.1,9.2,13.0,15.5,14.6,14.6
29,30-01-2016,16.0,17.1,16.8,21.2,11.4,17.8,14.3,15.5,14.8,...,17.5,10.5,18.1,17.0,14.5,13.3,16.9,17.2,15.7,17.5
30,31-01-2016,17.9,19.1,18.4,20.3,13.3,19.5,16.2,16.8,16.6,...,18.1,12.1,20.5,18.9,16.9,15.3,18.9,20.4,18.5,18.2
31,01-02-2016,17.7,18.8,19.7,21.1,13.4,18.7,16.4,17.1,16.2,...,19.0,12.8,20.1,18.4,16.3,16.0,18.1,18.7,18.0,17.4
32,02-02-2016,16.0,18.9,17,21.1,12.5,18.4,13.5,18.4,16.2,...,18.5,10.2,19.4,19.2,15.7,13.6,18.2,18.5,19.4,19.4
33,03-02-2016,19.1,20.6,20.4,23.2,15.1,20.2,16,18.7,17.9,...,20.4,13.6,21.0,21.9,18.6,16.9,22.4,21.3,21.1,19.9
34,04-02-2016,21.2,22.8,22.5,28.2,16.7,22.6,18.4,21.9,19.2,...,24.5,15.0,23.3,24.4,20.4,18.8,23.8,22.1,23.6,24.8
35,05-02-2016,23.2,23.9,24.7,25.4,20.5,22.8,23,21.5,21.2,...,25.1,19.5,24.8,23.8,23.1,22.3,25.8,23.4,23.1,22.6
36,06-02-2016,15.4,16.0,15.4,24.0,11.1,16.7,12,17.8,14.1,...,17.7,9.4,17.1,19.7,16.0,13.0,15.9,15.9,18.6,18.0
37,07-02-2016,11.9,13.9,14.6,18.5,8.4,15.1,8,15.9,13.1,...,16.5,4.2,16.3,14.9,11.4,7.1,11.7,11.4,14.6,15.6
38,08-02-2016,12.1,12.4,15,20.8,10.5,16.7,10.3,14.9,13.3,...,16.4,6.8,16.9,16.8,14.0,9.4,12.7,14.0,16.3,14.7
39,09-02-2016,15.5,17.9,16.6,23.8,12.2,18.2,13.5,17.8,15.4,...,17.2,10.9,18.6,19.9,17.3,14.2,19.6,17.1,18.4,-
40,10-02-2016,15.8,18.2,17.7,20.9,11.9,18.2,14.9,16.8,15.4,...,19.9,9.7,19.1,20.4,13.9,11.2,17.8,18.4,18.5,17.9
41,11-02-2016,14.5,16.2,17.5,23.1,12.3,18.3,14.1,17.0,15.5,...,17.9,11.6,18.8,19.0,17.0,14.6,16.9,18.0,18.6,17.9
42,12-02-2016,18.3,20.6,19.8,24.8,15.6,20.6,18.9,17.9,19.2,...,19.0,14.6,20.0,22.4,20.5,18.2,20.6,21.6,20.8,19.1
43,13-02-2016,22.0,23.4,22.3,27.4,17.6,22.7,21.4,19.0,21.0,...,20.6,17.1,22.6,23.7,21.7,19.8,22.1,24.1,22.8,19.7
44,14-02-2016,20.8,23.2,22.4,28.0,19.9,22.0,21,19.3,21.0,...,19.9,-,20.3,24.5,23.5,22.7,23.0,24.8,23.1,20.4
45,15-02-2016,25.8,27.3,25.7,29.5,21.7,26.4,22.6,22.0,25.3,...,23.2,18.8,24.1,27.3,25.4,22.4,27.2,27.7,28.1,23.6
46,16-02-2016,27.3,28.3,27.2,31.8,22.8,25.4,24.9,21.3,26.0,...,23.7,20.7,22.9,29.0,26.8,23.9,29.2,28.5,27.8,21.3
47,17-02-2016,27.0,28.9,28.5,33.2,22.5,28.7,23.3,22.8,26.3,...,25.1,19.5,24.5,30.1,26.7,23.3,28.5,29.0,29.3,29.6
48,18-02-2016,27.1,28.0,28.6,31.4,21.9,27.4,23.4,22.7,25.5,...,26.7,20.8,29.5,28.3,25.9,24.3,29.7,28.6,26.8,25.0
49,19-02-2016,24.8,26.6,27.6,31.1,24.4,26.9,24.9,25.2,25.4,...,26.6,21.6,27.7,27.8,29.3,26.1,27.7,27.7,28.3,28.5

In [88]:
import datetime
for i in range (len(df)):
    x=df.Date[i].split('-')
    df.Date[i] = datetime.datetime(int(x[2]), int(x[1]), int(x[0]))

C:\Users\asars\AppData\Local\Temp/ipykernel_8496/481432195.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Date[i] = datetime.datetime(int(x[2]), int(x[1]), int(x[0]))

In [89]:
df["Date"].head(50)

0     2016-01-01 00:00:00
1     2016-01-02 00:00:00
2     2016-01-03 00:00:00
3     2016-01-04 00:00:00
4     2016-01-05 00:00:00
5     2016-01-06 00:00:00
6     2016-01-07 00:00:00
7     2016-01-08 00:00:00
8     2016-01-09 00:00:00
9     2016-01-10 00:00:00
10    2016-01-11 00:00:00
11    2016-01-12 00:00:00
12    2016-01-13 00:00:00
13    2016-01-14 00:00:00
14    2016-01-15 00:00:00
15    2016-01-16 00:00:00
16    2016-01-17 00:00:00
17    2016-01-18 00:00:00
18    2016-01-19 00:00:00
19    2016-01-20 00:00:00
20    2016-01-21 00:00:00
21    2016-01-22 00:00:00
22    2016-01-23 00:00:00
23    2016-01-24 00:00:00
24    2016-01-25 00:00:00
25    2016-01-26 00:00:00
26    2016-01-27 00:00:00
27    2016-01-28 00:00:00
28    2016-01-29 00:00:00
29    2016-01-30 00:00:00
30    2016-01-31 00:00:00
31    2016-02-01 00:00:00
32    2016-02-02 00:00:00
33    2016-02-03 00:00:00
34    2016-02-04 00:00:00
35    2016-02-05 00:00:00
36    2016-02-06 00:00:00
37    2016-02-07 00:00:00
38    2016-02-08 00:00:00
39    2016-02-09 00:00:00
40    2016-02-10 00:00:00
41    2016-02-11 00:00:00
42    2016-02-12 00:00:00
43    2016-02-13 00:00:00
44    2016-02-14 00:00:00
45    2016-02-15 00:00:00
46    2016-02-16 00:00:00
47    2016-02-17 00:00:00
48    2016-02-18 00:00:00
49    2016-02-19 00:00:00
Name: Date, dtype: object

In [90]:
df["Date"] = pd.to_datetime( df["Date"])
df["Date"].head(50)

0    2016-01-01
1    2016-01-02
2    2016-01-03
3    2016-01-04
4    2016-01-05
5    2016-01-06
6    2016-01-07
7    2016-01-08
8    2016-01-09
9    2016-01-10
10   2016-01-11
11   2016-01-12
12   2016-01-13
13   2016-01-14
14   2016-01-15
15   2016-01-16
16   2016-01-17
17   2016-01-18
18   2016-01-19
19   2016-01-20
20   2016-01-21
21   2016-01-22
22   2016-01-23
23   2016-01-24
24   2016-01-25
25   2016-01-26
26   2016-01-27
27   2016-01-28
28   2016-01-29
29   2016-01-30
30   2016-01-31
31   2016-02-01
32   2016-02-02
33   2016-02-03
34   2016-02-04
35   2016-02-05
36   2016-02-06
37   2016-02-07
38   2016-02-08
39   2016-02-09
40   2016-02-10
41   2016-02-11
42   2016-02-12
43   2016-02-13
44   2016-02-14
45   2016-02-15
46   2016-02-16
47   2016-02-17
48   2016-02-18
49   2016-02-19
Name: Date, dtype: datetime64[ns]

In [91]:

for c in df.columns:
    if "מאוישת" in c:
        df.drop(c,axis=1,inplace=True)

df.head()

,Date,אבני איתן,איילת השחר,אילון,אילת,איתמר,אפק,אריאל מכללה,אשדוד,אשחר,...,ראש הנקרה,ראש צורים,שבי ציון,שדה אליהו,שדה בוקר,שני,שערי תקוה,תבור כדורי,תל יוסף,תל-אביב יפו
0,2016-01-01,8.7,11.2,10.1,19.1,7.2,14.1,8.4,16.6,9.3,...,14.9,6.2,14.4,14.9,10.7,8.3,11.7,11.4,13.1,15.9
1,2016-01-02,7.8,10.5,9.9,16.6,5.9,12.3,7.1,15.4,8.6,...,11.8,3.7,13.2,12.1,9.0,5.1,11.2,10.6,11.2,14.7
2,2016-01-03,9.2,9.2,12.5,21.8,7.9,14.0,8.9,16.8,8.4,...,13.8,7.4,13.7,14.2,15.5,10.3,12.4,10.9,14.1,16.7
3,2016-01-04,13.7,14.3,14.9,22.2,11.9,16.3,12.8,17.8,11.6,...,16.3,11.1,15.9,17.0,16.1,13.8,16.5,15.4,16.6,18.2
4,2016-01-05,16.1,17.5,17.6,23.9,13.8,19.5,14.8,19.2,15.7,...,19.2,11.8,20.2,20.3,18.1,15.1,18.1,18.5,19.8,19.9

In [92]:
df = pd.melt(df, 'Date')
df = df.sort_values("Date")
df.reset_index(drop=True,inplace=True)
df.columns = ["Date","City","Temperature"]

In [93]:
import numpy as np
df['Temperature'] = df['Temperature'].replace("-",np.NaN)
df['Temperature'] = df['Temperature'].astype(np.float64)

In [96]:
df[df["Temperature"]>40].head(50)

            Date         City  Temperature
8855  2016-04-19    בית הערבה         40.2
8908  2016-04-19         אילת         40.3
8950  2016-04-20    בית הערבה         41.8
9015  2016-04-21         גלגל         41.0
9026  2016-04-21         חצבה         41.4
9399  2016-04-26           גת         40.4
9402  2016-04-26    בשור חווה         40.4
9409  2016-04-26      תל יוסף         40.1
9418  2016-04-26     חפץ חיים         40.3
9423  2016-04-26     חוות עדן         40.3
9424  2016-04-26         ניצן         40.4
9425  2016-04-26        דורות         40.4
9427  2016-04-26         פארן         40.7
9429  2016-04-26         חיפה         40.2
9430  2016-04-26         מסדה         40.2
9457  2016-04-26          צמח         40.1
9458  2016-04-26    שדה אליהו         40.4
9465  2016-04-26         גלגל         40.7
9828  2016-05-01         חצבה         43.2
9833  2016-05-01         גלגל         40.1
9836  2016-05-01         פארן         41.3
9839  2016-05-01         סדום         40.8
10854 2016-05-14        יטבתה         41.9
10858 2016-05-14     כפר נחום         40.7
10862 2016-05-14         אילת         43.6
10864 2016-05-14     חוות עדן         41.2
10865 2016-05-14         גלגל         42.5
10867 2016-05-14        דורות         40.8
10870 2016-05-14    בית הערבה         40.9
10878 2016-05-14      תל יוסף         40.4
10880 2016-05-14         חצבה         41.6
10882 2016-05-14        נבטים         41.1
10889 2016-05-14         עזוז         40.2
10895 2016-05-14    שדה אליהו         41.2
10902 2016-05-14      באר שבע         41.2
10920 2016-05-14       מרחביה         40.3
10924 2016-05-14         פארן         41.5
10933 2016-05-14    בשור חווה         40.2
10936 2016-05-15         ניצן         40.2
10937 2016-05-15        עמיעד         40.3
10939 2016-05-15  מעלה אדומים         40.3
10941 2016-05-15       מרחביה         42.6
10944 2016-05-15     נווה יער         40.9
10945 2016-05-15  קרני שומרון         40.5
10947 2016-05-15         נגבה         41.1
10950 2016-05-15        יבנאל         41.7
10951 2016-05-15    שדה אליהו         44.3
10952 2016-05-15    בשור חווה         41.2
10953 2016-05-15          להב         40.5
10954 2016-05-15     כפר נחום         43.0

In [5]:
cities = df.City.unique()
cities=sorted(cities)
cities
# cities_new = [ city.split('') for city in cities  ]
# cities_new

['אבני איתן',
 'איילת השחר',
 'אילון',
 'אילת',
 'איתמר',
 'אפק',
 'אריאל מכללה',
 'אשדוד',
 'אשחר',
 'אשלים',
 'אשקלון',
 'באר שבע',
 "בית ג'מל",
 'בית דגן',
 'בית הערבה',
 'בית צידה',
 'בשור חווה',
 'גלגל',
 'גלעד',
 'גמלא',
 'גת',
 'דורות',
 'דייר חנא',
 'דפנה',
 'הכפר הירוק',
 'הר חרשה',
 'זכרון יעקב',
 'חדרה',
 'חוות עדן',
 'חיפה',
 'חפץ חיים',
 'חצבה',
 'חרשים',
 'יבנאל',
 'יטבתה',
 'ירושלים',
 'כפר בלום',
 'כפר גלעדי ',
 'כפר נחום',
 'להב',
 'מסדה',
 'מעלה אדומים',
 'מעלה גלבוע',
 'מצוקי דרגות',
 'מצפה רמון',
 'מרום גולן פיכמן',
 'מרחביה',
 'נאות סמדר',
 'נבטים',
 'נגבה',
 'נווה יער',
 'נחשון',
 'ניצן',
 'נתיב הל"ה',
 'סדום',
 'עבדת',
 'עזוז',
 'עין גדי',
 'עין החורש',
 'עין השופט',
 'עין כרמל',
 'עמיעד',
 'עפולה ניר העמק',
 'ערד',
 'פארן',
 'צובה',
 'צומת הנגב',
 'צמח',
 'צפת',
 'קבוצת יבנה',
 'קרני שומרון',
 'ראש הנקרה',
 'ראש צורים',
 'שבי ציון',
 'שדה אליהו',
 'שדה בוקר',
 'שני',
 'שערי תקוה',
 'תבור כדורי',
 'תל יוסף',
 'תל-אביב יפו']

In [6]:
from geopy.geocoders import Nominatim
loc = Nominatim(user_agent="GetLoc")
coo = {}
for city in cities:
    try:
        getLoc = loc.geocode(city)
        if(getLoc is not type(None)):
            coo[city] = [getLoc.latitude,getLoc.longitude]
    except :
        continue



print(len(cities))
len(coo)
for c in cities:
    if c not in coo:
        print(c)

df['latitude'] = 0
df['longitude'] = 0


map

81
בשור חווה
מרום גולן פיכמן

map

In [7]:
coo["בשור חווה"]=[31.307249490795158,34.48783567433633]
coo["מרום גולן פיכמן"]=[33.13320816063243,35.77650679606851]
coo["אשחר"]=[32.886615994081744,35.30037175149471]
coo["אפק"]=[32.839136662713486,35.12788271811121]
coo["אשלים"]=[30.96454398024719,34.7001133359113]
coo["ערד"]=[31.262323304271163,35.21781267558416]
coo["גמלא"]=[32.889987331493145,35.682879974609484]
coo["ניצן"]=[31.741268973086314,34.63121914439573]
coo["גלעד"]=[32.557935181115376,35.075285948798616]
coo["גת"]=[31.62842890546584,34.79305290771867]
coo["שני"]=[31.36767586708175,35.07209140195991]
coo["פארן"]=[30.362538961360368,35.1549994302975]
coo["מסדה"]=[32.683992726297305,35.59861618948018]

In [8]:
for key,val in coo.items():
    df.latitude[df["City"]==key] = val[0]
    df.longitude[df["City"]==key] = val[1]

df.reset_index(drop=True,inplace=True)
df

C:\Users\asars\AppData\Local\Temp/ipykernel_9344/3834596984.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.latitude[df["City"]==key] = val[0]
C:\Users\asars\AppData\Local\Temp/ipykernel_9344/3834596984.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.longitude[df["City"]==key] = val[1]
C:\Users\asars\AppData\Local\Temp/ipykernel_9344/3834596984.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.latitude[df["City"]==key] = val[0]
C:\Users\asars\AppData\Local\Temp/ipykernel_9344/3834596984.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.longitude[df["City"]==key] = val[1]

             Date         City Temperature   latitude  longitude
0      2016-01-01    אבני איתן         8.7  32.822221  35.768566
1      2016-01-01        נבטים        10.7  31.222537  34.880798
2      2016-01-01        יבנאל        12.7  32.702698  35.506004
3      2016-01-01      תל יוסף        13.1  32.556108  35.399652
4      2016-01-01    מצפה רמון         9.5  30.611969  34.801217
...           ...          ...         ...        ...        ...
172525 2021-10-30         פארן        30.2  30.362539  35.154999
172526 2021-10-30    בית הערבה           -  31.809070  35.476596
172527 2021-10-30         צובה        23.8  31.784654  35.125955
172528 2021-10-30    צומת הנגב           -  31.066509  34.839321
172529 2021-10-30  תל-אביב יפו         NaN  32.085300  34.781806

[172530 rows x 5 columns]

In [10]:
df.to_excel("Cities_Temperature.xlsx")