Imports

In [1]:
import numpy as np
import pandas as pd

read dfs

In [2]:
pm25_df = pd.read_excel("pm25.xlsx")
pm10_df = pd.read_excel("pm10.xlsx")
Nox_df = pd.read_excel("Nox.xlsx")
So2_df = pd.read_excel("So2.xlsx")

In [3]:
dfs=[pm25_df,pm10_df,Nox_df,So2_df ]
dfs[0]

,"סוג: ממוצע, זמן מיצוע: 24 שעות, Period:01/01/2016 00:01 - 22/12/2021 00:00",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 86,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,תאריך ושעה,"תל אביב-יפו, רחוב לחי","ירושלים, רחוב בר אילן","באר שבע, שכונה ו","ירושלים, בקעה","אלון שבות, גוש עציון","חולון, חולון","תל אביב-יפו, רחוב יהודה המכבי","בני ברק, רחוב ז'בוטינסקי","בני ברק, כביש 4",...,"ירושלים, רחוב דבורה הנביאה","אביגדור, אביגדור","תימורים, תימורים","נחשולים, נחשולים","חיפה, קרית חיים - מערבית","איבטין, איבטין","חריש, חריש","ירושלים, מלכי ישראל","אלעד, רובע א","רמלה, שכונת האמנים"
2,NaN,PM2.5,PM2.5,PM2.5,PM2.5,PM2.5,PM2.5,PM2.5,PM2.5,PM2.5,...,PM2.5,PM2.5,PM2.5,PM2.5,PM2.5,PM2.5,PM2.5,PM2.5,PM2.5,PM2.5
3,NaN,µg/m³,µg/m³,µg/m³,µg/m³,µg/m³,µg/m³,µg/m³,µg/m³,µg/m³,...,µg/m³,µg/m³,µg/m³,µg/m³,µg/m³,µg/m³,µg/m³,µg/m³,µg/m³,µg/m³
4,24:00 01/01/2016,NoData,15.7,2.5,2.5,&lt;Samp,5.8,6.3,&lt;Samp,5.1,...,NoData,NoData,NoData,NoData,NoData,NoData,NoData,NoData,NoData,NoData
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2191,תאריך נתון מקסימלי,25/03/2021,17/02/2018,09/01/2016,17/02/2018,09/01/2016,19/01/2016,19/01/2016,19/01/2016,09/01/2016,...,NoData,25/03/2021,01/11/2020,25/03/2020,25/03/2021,25/03/2021,25/03/2021,09/12/2021,25/03/2021,09/12/2021
2192,שעה נתון מקסימלי,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,...,NoData,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00
2193,מינימלי,5.7,1.2,1.7,2.1,0.5,-0.4,0.4,-28.3,1.6,...,NoData,2.4,2.6,2.4,0.7,2.7,3.2,3.6,2.6,7.9
2194,תאריך נתון מינימלי,20/02/2021,21/05/2017,31/12/2016,28/12/2019,08/02/2016,11/04/2019,18/02/2021,09/01/2019,18/02/2021,...,NoData,04/10/2020,20/10/2021,20/10/2021,18/02/2021,05/11/2020,18/02/2021,11/04/2021,03/12/2021,22/07/2021
2195,שעה נתון מינימלי,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,...,NoData,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00,00:00

row 0 is all nan
so we slice the first row and last 10 are non relevnt

In [4]:
for i in range (len(dfs)):
    dfs[i] = dfs[i][1:]
    dfs[i] = dfs[i][:-10]

Names the column by the cities in the first new row

In [5]:
for i in range (len(dfs)):
    cols_names = dfs[i][:1]
    dfs[i] = dfs[i][1:]
    dfs[i].columns = np.array( cols_names)[0]

Now two first Rows are type of pollution and std (i think)

In [6]:
for i in range (len(dfs)):
    dfs[i] = dfs[i][2:]

Chande the column date to date type

In [7]:
for i in range (len(dfs)):
    #no need it the string 24:00 and other stiring
    dfs[i][dfs[i].columns[0]]= dfs[i][dfs[i].columns[0]].replace("24:00","" ,regex=True)
    dfs[i]= dfs[i].replace("NoData", np.NaN, regex=True)
    dfs[i]= dfs[i].replace("&lt;Samp", np.NaN, regex=True)
    dfs[i]= dfs[i].replace("Down", np.NaN, regex=True)
    dfs[i]= dfs[i].replace("InVld", np.NaN, regex=True)
    dfs[i]= dfs[i].replace("Calib", np.NaN, regex=True)
    dfs[i]= dfs[i].replace("_", np.NaN, regex=True)

    dfs[i][dfs[i].columns[0]] = pd.to_datetime( dfs[i][dfs[i].columns[0]])
    for j in range(1,len(dfs[i].columns)):
        dfs[i][dfs[i].columns[j]] = dfs[i][dfs[i].columns[j]].astype("float64")

save in the orignal dfs

In [10]:
pm25_df = dfs[0] 
pm10_df = dfs[1]
Nox_df = dfs[2]
So2_df = dfs[3]

In [15]:
pm25_df.to_excel("pm25_cleaner_NEW_WITH_NO_DROP_CITIES.xlsx")
pm10_df.to_excel("pm10_cleaner_NEW_WITH_NO_DROP_CITIES.xlsx")
Nox_df.to_excel("Nox_cleaner_NEW_WITH_NO_DROP_CITIES.xlsx")
So2_df.to_excel("So2_cleaner_NEW_WITH_NO_DROP_CITIES.xlsx")

Change df to date,city and value

In [16]:
for i in range (len(dfs)):
    dfs[i] = pd.melt(dfs[i], 'תאריך ושעה')
    dfs[i] = dfs[i].sort_values("תאריך ושעה")
    dfs[i].reset_index(drop=True,inplace=True)
    dfs[i].columns = ["Date","City","Value"]

change column name by pollutions

In [17]:
dfs[0].columns = ["Date","City","PM25"]
dfs[1].columns = ["Date","City","PM10"]
dfs[2].columns = ["Date","City","Nox"]
dfs[3].columns = ["Date","City","So2"]

In [18]:
# name citiys 

citiys = [ word.split(",")[0] for i in range (4) for word in dfs[i].City.unique() ]
citiys = list(set(citiys))

In [19]:
#change cities name for more comfortable
for i in range(4):
    for j in range(len(citiys)):
        dfs[i].City[dfs[i].City.str.contains(citiys[j])] = citiys[j]

C:\Users\asars\AppData\Local\Temp/ipykernel_1884/590537316.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs[i].City[dfs[i].City.str.contains(citiys[j])] = citiys[j]

In [20]:
for i in range(4):
    tmp = dfs[i]
    tmp2 = tmp.groupby(["Date",'City'], sort=False)[tmp.columns[-1]].max()
    tmp3=tmp2.reset_index()
    dfs[i] = tmp3

merge dfs

In [21]:
df_m=dfs[0]
df_m=df_m.merge(right=dfs[1],how="inner",on=["Date","City"])
df_m=df_m.merge(right=dfs[2],how="inner",on=["Date","City"])
df_m=df_m.merge(right=dfs[3],how="inner",on=["Date","City"])
df_m.to_excel('merag.xlsx')

merage all dfs into one and save it without null

In [22]:
print(df_m.shape)
df_m_NoNan=df_m.dropna(thresh=6)
df_m_NoNan.shape

(17456, 6)

(14154, 6)

Check how many dates have been lost

In [23]:
print("Number of unique dates: with null",df_m.Date.nunique())
print("Number of unique dates: with without null",df_m_NoNan.Date.nunique())

Number of unique dates: with null 2182
Number of unique dates: with without null 2181

Save merage without null

In [24]:
df_m_NoNan.to_excel("merageWithoutNull.xlsx")

In [25]:
df_m_NoNan["Date"].value_counts().nlargest(1000)

2019-05-24    8
2019-08-20    8
2020-11-15    8
2020-11-14    8
2020-11-13    8
             ..
2016-06-15    7
2016-06-17    7
2016-06-18    7
2016-06-20    7
2016-06-21    7
Name: Date, Length: 1000, dtype: int64

In [26]:
# dfs[0].isna().sum()/len(dfs[0])*100
# pm25_df = dfs[0] 
# pm10_df = dfs[1]
# Nox_df = dfs[2]
# So2_df = dfs[3]
# pm25_df

In [28]:
df_m_NoNan.head()

        Date         City  PM25  PM10   Nox  So2
0 2016-01-01      באר שבע   2.5   4.9   3.4  0.8
1 2016-01-01         חיפה   6.7  14.4  54.3  2.5
2 2016-01-01          נשר   5.3  17.8   8.3  0.4
3 2016-01-01    קריית אתא   5.6  21.7   6.2  0.3
6 2016-01-01  תל אביב-יפו   7.6  22.5  26.4  3.2

In [37]:
df_m_NoNan.City.unique()

array(['באר שבע', 'חיפה', 'נשר', 'קריית אתא', 'תל אביב-יפו', 'ערד',
       'סדום', 'קיריית טבעון'], dtype=object)