In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("complete_maybe.xlsx")
df

,Model_number,Date,Site_Name,Israelis_Count,Tourists_Count,Total,is_weekend,operations,is_jewish_holiday,is_jewish_vacation,...,Qiryat Shemona_nox,Safed_nox,Tel_Aviv-Yafo_so2,Jerusalem_so2,Haifa_so2,Ashkelon_so2,Beer-Sheva_so2,Eilat_so2,Qiryat Shemona_so2,Safed_so2
0,5,2016-01-01,Alexander Stream-Bet Yannai,7,0,7,1,0,0,0,...,6.2,6.2,7.2,0.1,2.6,1.2,0.9,3.7,0.6,0.6
1,6,2016-01-01,Apollonia,16,0,16,1,0,0,0,...,6.2,6.2,7.2,0.1,2.6,1.2,0.9,3.7,0.6,0.6
2,3,2016-01-01,Arbel,8,52,60,1,0,0,0,...,6.2,6.2,7.2,0.1,2.6,1.2,0.9,3.7,0.6,0.6
3,5,2016-01-01,Avdat,13,26,39,1,0,0,0,...,6.2,6.2,7.2,0.1,2.6,1.2,0.9,3.7,0.6,0.6
4,5,2016-01-01,Ayun Stream,6,0,6,1,0,0,0,...,6.2,6.2,7.2,0.1,2.6,1.2,0.9,3.7,0.6,0.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109103,3,2021-08-11,The Majrase – Betiha,744,0,744,0,0,0,1,...,14.4,14.4,17.7,2.4,27.1,5.1,5.3,5.3,6.2,6.2
109104,0,2021-08-11,The Masada,508,0,508,0,0,0,1,...,14.4,14.4,17.7,2.4,27.1,5.1,5.3,5.3,6.2,6.2
109105,5,2021-08-11,Tzipori,102,0,102,0,0,0,1,...,14.4,14.4,17.7,2.4,27.1,5.1,5.3,5.3,6.2,6.2
109106,3,2021-08-11,Yehiam,92,0,92,0,0,0,1,...,14.4,14.4,17.7,2.4,27.1,5.1,5.3,5.3,6.2,6.2
109107,5,2021-08-11,Yehudiya,694,0,694,0,0,0,1,...,14.4,14.4,17.7,2.4,27.1,5.1,5.3,5.3,6.2,6.2

In [3]:
df1=df["region"].str.get_dummies()
df1.columns=['region_Central','region_Judea_Samaria','region_North','region_South']
df3=pd.concat([ df.drop(["region"],axis=1),df1],axis=1)
df3.to_excel("complete_site_info.xlsx")
df3

,Model_number,Date,Site_Name,Israelis_Count,Tourists_Count,Total,is_weekend,operations,is_jewish_holiday,is_jewish_vacation,...,Haifa_so2,Ashkelon_so2,Beer-Sheva_so2,Eilat_so2,Qiryat Shemona_so2,Safed_so2,region_Central,region_Judea_Samaria,region_North,region_South
0,5,2016-01-01,Alexander Stream-Bet Yannai,7,0,7,1,0,0,0,...,2.6,1.2,0.9,3.7,0.6,0.6,1,0,0,0
1,6,2016-01-01,Apollonia,16,0,16,1,0,0,0,...,2.6,1.2,0.9,3.7,0.6,0.6,1,0,0,0
2,3,2016-01-01,Arbel,8,52,60,1,0,0,0,...,2.6,1.2,0.9,3.7,0.6,0.6,0,0,1,0
3,5,2016-01-01,Avdat,13,26,39,1,0,0,0,...,2.6,1.2,0.9,3.7,0.6,0.6,0,0,0,1
4,5,2016-01-01,Ayun Stream,6,0,6,1,0,0,0,...,2.6,1.2,0.9,3.7,0.6,0.6,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109103,3,2021-08-11,The Majrase – Betiha,744,0,744,0,0,0,1,...,27.1,5.1,5.3,5.3,6.2,6.2,0,0,1,0
109104,0,2021-08-11,The Masada,508,0,508,0,0,0,1,...,27.1,5.1,5.3,5.3,6.2,6.2,0,0,0,1
109105,5,2021-08-11,Tzipori,102,0,102,0,0,0,1,...,27.1,5.1,5.3,5.3,6.2,6.2,0,0,1,0
109106,3,2021-08-11,Yehiam,92,0,92,0,0,0,1,...,27.1,5.1,5.3,5.3,6.2,6.2,0,0,1,0
109107,5,2021-08-11,Yehudiya,694,0,694,0,0,0,1,...,27.1,5.1,5.3,5.3,6.2,6.2,0,0,1,0